:root {
    --color-cuadricula-eventos: #d2d2fb56;
    --color-borde-cuadricula-eventos: #D2D2FB;
    --color-cuadricula-adopta: #d1e7ff67;
    --color-borde-cuadricula-adopta: #D1E7FF;
    --color-cuadricula-donacion: #ffe5b854;
    --color-borde-cuadricula-donacion: #FFE5B8;
    --color-cuadricula-socio: #9fa1f863;
    --color-borde-cuadricula-socio: #9FA0F8;
    --color-cuadricula-contacto: #f1d1ff59;
    --color-borde-cuadricula-contacto: #F1D1FF;
    --color-texto-cuadriculas: #2D2E6F;
    --color-banner-ripley: #C9C1E6;
    --color-blanco: #fff;
    --color-negro: #000;
}

/*Fuentes*/
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
p {
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6, legend, label {
    font-family: 'Poppins', sans-serif;
}
/*Fuentes*/

/*Cuadricula*/
.container_grid {  
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "area_izquierda area_derecha area_derecha"
      "area_izquierda area_centro area_derecha_inferior"
      "area_izquierda_inferior area_izquierda_inferior area_derecha_inferior";
      justify-content: center;
      flex-wrap: wrap;
}
.container_grid a {
    text-decoration: none;
    color: var(--color-texto-cuadriculas);
    transition: color ease-in-out 0.3s, box-shadow ease-in-out 0.4s;
}
.container_grid a:visited {
    color: var(--color-texto-cuadriculas);
}
.container_grid a:hover {
    color: #5d5fdb !important;
    box-shadow: 0 0 4px 4px  #C9C1E6;
}
.area_centro { 
    grid-area: area_centro;
    height: 250px;
    width: 300px;
    background-color: var(--color-cuadricula-donacion);
    border: solid 10px var(--color-borde-cuadricula-donacion);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.area_centro img.img_enlaces{
    width: 90px;
}
.area_centro h2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.area_centro p{
    font-size: 15px;
    text-align: center;
}
.area_izquierda { 
    grid-area: area_izquierda; 
    height: 100%;
    width: 300px;
    background-color: var(--color-cuadricula-eventos);
    border: solid 10px var(--color-borde-cuadricula-eventos);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.area_izquierda img.img_enlaces{
    width: 240px;
}
.area_izquierda h2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.area_izquierda p{
    font-size: 15px;
    text-align: center;
}
.area_derecha { 
    height: 250px;
    width:  100%;
    grid-area: area_derecha;
    background-color: var(--color-cuadricula-adopta);
    border: solid 10px var(--color-borde-cuadricula-adopta);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.area_derecha img.img_enlaces{
    width: 190px;
}
.area_derecha h2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.area_derecha p{
    font-size: 15px;
    text-align: center;
}
.area_derecha div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.area_derecha_inferior { 
    grid-area: area_derecha_inferior;
    height: 100%;
    width: 300px;
    background-color: var(--color-cuadricula-socio);
    border: solid 10px var(--color-borde-cuadricula-socio);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.area_derecha_inferior img.img_enlaces{
    width: 160px;
}
.area_derecha_inferior h2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.area_derecha_inferior p{
    font-size: 15px;
    text-align: center;
}
.area_izquierda_inferior { 
    grid-area: area_izquierda_inferior;
    height: 250px;
    width:  100%;
    background-color: var(--color-cuadricula-contacto);
    border: solid 10px var(--color-borde-cuadricula-contacto);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.area_izquierda_inferior img.img_enlaces{
    width: 150px;
}
.area_izquierda_inferior h2{
    font-size: 25px;
    width: 100% !important;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.area_izquierda_inferior p{
    font-size: 15px;
    text-align: center;
}
.area_izquierda_inferior div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Cuadricula*/

/*Banner Ripley*/
.ripley-puntos {
    background-color: var(--color-banner-ripley);
}
.fondo-texto-ripley {
    background-color: var(--color-blanco);
    border-radius: 5px;
}
.imagen-ripley {
    width: 300px;
    transition: color ease-in-out 0.3s, box-shadow ease-in-out 0.4s;
}
.imagen-ripley:hover {
    width: 300px;
    box-shadow: 0 0 4px 4px #C9C1E6;
}
/*Banner Ripley*/

/*Cards Facebook y tiktok*/
.cards-rrss a {
    text-decoration: none;
    color: var(--color-texto-cuadriculas);
}
.cards-rrss a .card-hover {
    transition: color ease-in-out 0.3s, box-shadow ease-in-out 0.4s;
    border-radius: 3px;
}
.cards-rrss a:hover {
    color: var(--color-texto-cuadriculas);
}
.cards-rrss a:visited {
    color: var(--color-texto-cuadriculas);
}
.cards-rrss a:hover .card-hover {
    color: #5d5fdb !important;
    box-shadow: 0 0 4px 4px  #C9C1E6;
}
.titulo-card-rrss {
    text-transform: uppercase;
    font-weight: bold;
}
.card-facebook {
    background-color: var(--color-cuadricula-contacto);
    border: 10px solid var(--color-borde-cuadricula-contacto);
}
.card-tiktok {
    background-color: var(--color-cuadricula-donacion);
    border: 10px solid var(--color-borde-cuadricula-donacion);
}
.contenedor-icono-rrss {
    background-color: var(--color-blanco);
    width: 60px;
    height: 60px;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/*Cards Facebook y tiktok*/

/*Banner Vitalcan*/
.banner-vitalcan {
    background-color: #2e276d;
}
/*Banner Vitalcan*/















































/* Media query para dos columnas en pantallas de hasta 760px */
@media (min-width: 481px) and (max-width: 940px) {
    .container_grid {
        display: flex;
        justify-content: center;
    }

    .area_centro {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .area_centro img.img_enlaces{
        width: auto;
        height: 160px
    }
    .area_izquierda {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .area_izquierda img.img_enlaces{
        width: auto;
        height: 160px
    }

    .area_derecha {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .area_derecha img.img_enlaces{
        width: auto;
        height: 160px
    }
    .area_derecha div{
       display: flex;
       flex-direction: column-reverse;
       justify-content: space-around;
       align-items: center;
       height: 100%;
     }

    .area_derecha_inferior {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .area_derecha_inferior img.img_enlaces{
        width: auto;
        height: 160px
    }

    .area_izquierda_inferior {
        width: 92%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .area_izquierda_inferior img.img_enlaces{
        width: auto;
        height: 160px
    }
    .area_izquierda_inferior div{
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 100%;
     }
}

/* Media query para dispositivos moviles */
@media (min-width: 361px) and (max-width: 480px) {
    .container_grid {
        display: flex;
        justify-content: center;
    }
    .area_centro {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_centro img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_centro h3 {
        font-size: 18px;
    }
    .area_centro p {
        font-size: 12px;
    }
    .area_izquierda {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_izquierda h3 {
        font-size: 18px;
    }
    .area_izquierda p {
        font-size: 12px;
    }
    .area_izquierda img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_derecha {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_derecha h3 {
        font-size: 18px;
    }
    .area_derecha p {
        font-size: 12px;
    }
    .area_derecha img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_derecha div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: 100%;
      }
    .area_derecha_inferior {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_derecha_inferior h3 {
        font-size: 18px;
    }
    .area_derecha_inferior p {
        font-size: 12px;
    }
    .area_derecha_inferior img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_izquierda_inferior {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .area_izquierda_inferior h3 {
        font-size: 18px;
    }
    .area_izquierda_inferior p {
        font-size: 12px;
    }
    .area_izquierda_inferior img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_izquierda_inferior div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: 100%;
      }
}

/* Media query para dispositivos moviles */
@media (min-width: 0px) and (max-width: 360px) {
    .container_grid {
        display: flex;
        justify-content: center;
    }
    .area_centro {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_centro img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_centro h3 {
        font-size: 18px;
    }
    .area_centro p {
        font-size: 12px;
    }
    .area_izquierda {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_izquierda h3 {
        font-size: 18px;
    }
    .area_izquierda p {
        font-size: 12px;
    }
    .area_izquierda img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_derecha {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_derecha h3 {
        font-size: 18px;
    }
    .area_derecha p {
        font-size: 12px;
    }
    .area_derecha img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_derecha div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: 100%;
      }
    .area_derecha_inferior {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .area_derecha_inferior h3 {
        font-size: 18px;
    }
    .area_derecha_inferior p {
        font-size: 12px;
    }
    .area_derecha_inferior img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_izquierda_inferior {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .area_izquierda_inferior h3 {
        font-size: 18px;
    }
    .area_izquierda_inferior p {
        font-size: 12px;
    }
    .area_izquierda_inferior img.img_enlaces{
        width: auto;
        height: 120px
    }
    .area_izquierda_inferior div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: 100%;
      }
}


/*Adóptanos*/
/*Banner nuestra causa*/
.banner-causa {
    background-color: rgba(201, 193, 230, .7);
}
.contenedor-contador {
    border: 10px solid var(--color-blanco);
    border-radius: 3px;
}
/*Banner nuestra causa*/
.migas ol li {
    color: var(--color-texto-cuadriculas) !important;
}
.link-migas {
    transition: .5s;
    color: var(--color-texto-cuadriculas);
}
.link-migas:visited {
    color: var(--color-texto-cuadriculas);
}
.link-migas:hover {
    color: black;
}
.boton-filtro-mascotas {
    width: 200px;
    border-radius: 3px;
    color: var(--color-blanco);
    font-weight: bold;
    background-color: var(--color-texto-cuadriculas);
    transition: .5s;
}
.boton-filtro-mascotas:hover {
    background-color: black;
}
.img-ayd {
    width: 250px;
}
/*Adóptanos*/

/*Ficha de mascota*/
.ficha-adopcion {
    border: 10px solid var(--color-texto-cuadriculas);
    border-radius: 3px;
}
.contenedor-imagen-ficha {
   background-color: var(--color-banner-ripley);
}
.contenedor-imagen-ficha img {
    width: 400px;
    height: auto;
}
.contenedor-datos-mascota {
    background-color: var(--color-banner-ripley);
}
.boton-adoptame-ficha {
    background-color: var(--color-texto-cuadriculas);
    color: var(--color-blanco);
    border-radius: 3px;
    padding: .5em;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}
.boton-adoptame-ficha:visited {
    background-color: var(--color-texto-cuadriculas);
    color: var(--color-blanco);
}
.boton-adoptame-ficha:hover {
    background-color: var(--color-negro);
    color: var(--color-blanco);
}
form {
    font-family: 'Rubik', sans-serif;
}
.contenedor-form-adopcion {
    border: 1px solid var(--color-texto-cuadriculas);
    border-radius: 3px;
}
.foto-ficha {
    width: 400px;
    height: auto;
}
label {
    font-weight: 600;
}
/*Ficha de mascota*/

/*Sobre nosotros*/
.mision {
    border: 10px solid var(--color-borde-cuadricula-contacto);
    background-color: var(--color-cuadricula-contacto);
}
.vision {
    border: 10px solid var(--color-borde-cuadricula-adopta);
    background-color: var(--color-cuadricula-adopta);
}
.adopta-sobre-nosotros {
    border: 10px solid var(--color-borde-cuadricula-socio);
    background-color: var(--color-cuadricula-socio);
}
.voluntario-sobre-nosotros {
    border: 10px solid var(--color-borde-cuadricula-donacion);
    background-color: var(--color-cuadricula-donacion);
}
.donacion-sobre-nosotros {
    border: 10px solid var(--color-borde-cuadricula-adopta);
    background-color: var(--color-cuadricula-adopta);
}
.cuadricula-como-ayudar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 10px;
}
.imagen-como-ayudar {
    object-fit: contain;
}
/*Sobre nosotros*/
